
.redText{
    color: var(--color-red);
}
.formControl{
    background-color: var(--color-dark-gray);
}
.formControl::placeholder {
    color: var(--color-lighter-gray);
}
.formControl:focus{
   background-color: var( --color-middle-gray);
}
.sendButton{
    background-color: var(--color-green);
    border: 0;
}