:root {

    --color-white: #ffffff;
    --color-off-white: #FBFBFB;
    --color-dark-gray: #2F2F2F;
    --color-black: #212121;
    --color-green: #6CBC6F;
    --color-green-darker: #4A9D4A;
    --color-red: #FF4949;

    /* Famílias de fontes */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Lato', sans-serif;
}


body {
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--font-primary), sans-serif;
}





.fullScreenContainer {
    width: 100vw;
    height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton{
    color: #ffffff; /* Cor do texto */
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    border: none;
    padding-left: 0;
}
.backButton:hover,
.backButton:focus {
    background-color: transparent !important;
}
/* Esconde a scrollbar para IE, Edge e Firefox */
::-webkit-scrollbar {
    display: none;
}

/* Esconde a scrollbar para Chrome, Safari e Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Remove a barra de rolagem para todos os elementos */
* {
    -ms-overflow-style: none;

}